body{
    background: url("https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat center center/cover;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

h1{
    font-size: 50px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: beige;
}

footer{
    text-align: center;
}